.hide {
  display: none;
}
body {
  background-color: #1a2035;
  border-top: 4px solid #2f80ed;
  padding: 10px;
  margin: 0px;
}
#url {
  font-size: 15px;
  color: #fff;
  background-color: #202940;
  border: 2px solid #2f80ed;
  border-radius: 3px;
  outline: 0 none;
  padding: 5px;
}
.headline {
  font-size: 15px;
  font-weight: 900;
  background: -webkit-linear-gradient(right, #56ccf2, #2f80ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homepage {
  width: 100%;
  text-align: center;
}
.homepage > a {
  color: #ffffff;
  text-decoration: none;
}

#headline-right {
  float: right;
  color: lightgreen;
  -webkit-animation: copied 1s ease-out;
}

@keyframes copied {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
